/*************************** COLORS *************************** 
 * rgb(68,68,68)
 * rgb(0,0,0)
 * rgb(150,150,150) 
 * rgb(55,55,55)
 * rgb(255,255,255)
 * rgb(109, 109, 109)
 * rgb(0, 224, 255)
 * rgb(210, 210, 210)
 * rgb(26, 26, 26)
 * #F58C5B
 * #000
 * #fff
 * #777
 * #888
 * #ccc
 * #aaa
 * #A8A8A8
 * #909090
 * #eee
 * #F8F8F8
 * #4292CD
 * #969696
 * #bbb
 * #F27D24
 */

/*************************** TABLE OF CONTENTS ***************************
 * GENERAL STYLES
 * GENERAL CLASSES
 * MAP ELEMENTS
 * TOP TOOLBAR
 * HEADER
 * MAP YEAR TOGGLE
 * SEARCH BOX
 * SEARCH RESULTS
 * ABOUT LINK
 * ABOUT PAGE
 * MAP CONTROLS
 * BASEMAP CONTROLS
 * BASEMAP ATTRIBUTION
 * FACILITY MOUSE OVER
 * HIGHLIGHT FACILITY
 * FACILITY POPUP
 * GENERAL TAB
 * CHEMICAL & INDUSTRY TAB
 * CHEMICAL TAB
 * WWU LOGO
 * SOCIAL MEDIA
 * LOADING PAGE ICON
 */



/*************************** GENERAL STYLES ***************************/

/* Modify base font-size so ems correspond to pixel size.  i.e. 12px = 1.2em*/
body {font-size:62.5%} 

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Arimo', Arial, sans-serif;
}

a img {
	border: 0;
}

h1 { /*Title*/
	font-size: 3.4em;
	font-variant: small-caps;
	white-space: nowrap;
	color: #F58C5B;
}

h2 { /*Sub-title*/
	font-size: 1.5em;
	text-transform: uppercase;
	white-space: nowrap;
	color: #F58C5B;
	margin-top: 4px;
}

h3 { /*About Header*/
	color: rgb(68,68,68);
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

/*************************** GENERAL CLASSES ***************************/

.dropshadow {
	-webkit-box-shadow: 3px 5px 5px #000;
	-moz-box-shadow: 3px 3px 5px #000;
	box-shadow: 3px 5px 5px #000;
	behavior: url('assets/ie/PIE.htc');
}

.noselect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.yesselect {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

.transition-slow {
	-o-transition: .7s;
	-ms-transition: .7s;
	-moz-transition: .7s;
	-webkit-transition: .7s;
	transition: .7s;
}

.transition-color-fast {
	-o-transition: color 0.3s linear;
	-ms-transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	transition: color 0.3s linear;
}

/* b+w effects */
.colorshift {
	filter: url("data:image/svg+xml;utf8,<svg%20xmlns=\'http://www.w3.org/2000/svg\'><filter%20id=\'grayscale\'><feColorMatrix%20type=\'matrix\'%20values=\'0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
	filter: gray alpha(opacity=70); /* IE6-9 */
	opacity: .7;
}

.colorshift:hover {
    -webkit-filter: grayscale(0);
    filter: none;
	-webkit-backface-visibility: hidden; /* needed so the webkit won't flicker on the transition */
	opacity: 1; /* other browsers  and IE9+ */
}

/*************************** MAP ELEMENTS ***************************/

#map {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

/*************************** TOP TOOLBAR ***************************/

#topbar {
	position: absolute;
	left: 0;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: rgb(2, 2, 2);
	filter: alpha(opacity=90); /* IE 5-8 */
	opacity: 0.90; 
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.10);
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.10);
	behavior: url("assets/ie/PIE.htc");
}

@media only screen and (max-width: 925px) {
	#topbar {
		height: 90px;
	}
}

/*************************** HEADER ***************************/

#ecos-logo-small {
	position: absolute;
	left: 5px;
	top: 2px;
}

#ecos-logo-large {
	position: absolute;
	left: 5px;
	top: 6px;
	display: none;
	padding: 4px;
	background-color: #fff;
}

#title {
	position: absolute;
	left: 55px;
	top: 3px;
	margin:0;
}

#sub-title {
	position: absolute;
	left: 55px;
	top: 38px;
	margin:0;
}

@media only screen and (max-width: 925px) {
	#ecos-logo-small {
		display: none;
	}
	
	#ecos-logo-large {
		display: block
	}
	
	#title {
		top: 10px;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 2.6em;
		line-height: 16px;
	}
	
	#sub-title {
		top: 32px;
		left: 0px;
		width: 100%;
		text-align: center;
		font-size: 1.2em;
		line-height: 1.2em;
	}
}


@media only screen and (max-width: 430px) {
	#ecos-logo-large {
		display: none;
	}
	
	#title {
		font-size: 1.6em;
		line-height: 1.6em
	}
	
	#sub-title {
		font-size: 0.9em;
		line-height: 0.9em;
	}
}

/*************************** MAP YEAR TOGGLE ***************************/

#map-year-toggle-container {
	position: absolute;
	top: 15px;
	left: 53%;
	width: 110px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
}

#map-year {
	font-size: 2.9em;
	margin: 0 auto;
	text-align: center;
}

#map-year-up, #map-year-down {
	position: absolute;
	width: 0;
	height: 0;
	top: 50%;
	margin-top:-13px;
	cursor: pointer;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
}

#map-year-up {
	right: 0;
	border-left: 13px solid #fff;
}

#map-year-down {
	border-right: 13px solid #fff;
	left: 0;
}

@media only screen and (max-width: 925px) {

	#map-year-toggle-container {
		width: 105px;
		top: 55px;
		padding: 0;
		margin-left: -167px;
		left: 50%;
	}

	#map-year {
		font-size: 2.2em;
	}
	
	#map-year-down {
		margin-top: -9px;
		border-top: 9px solid transparent;
		border-left: 9px solid transparent;
		border-bottom: 9px solid transparent;
	}
	
	#map-year-up {
		margin-top: -9px;
		border-top: 9px solid transparent;
		border-right: 9px solid transparent;
		border-bottom: 9px solid transparent;
	}
	
}


@media only screen and (max-width: 430px) {
	
	#map-year-toggle-container {
		width: 100px;
		top: 95px;
		margin-left: -52px;
		left: 50%;
		background: rgb(0,0,0); /* Fallback for unsupported browsers */
		background: rgba(0,0,0,0.6);
		vertical-align: middle;
		line-height: 30px;
		border-radius: 5px;
	}
}

/*************************** SEARCH BOX ***************************/

#searchbox-container {
	position: absolute;
	top: 13px;
	right: 5px;
	width: 251px;
}

#searchbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 190px;
	height: 30px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-right: 5px;
	padding-left: 30px;
	border: 1px solid #888;
	border-right: 1px solid #fff;
	color: #777;
	text-align: left;
	font-weight: bold;
	font-size: 1.9em;
	line-height: 30px;
	background: #fff url("../images/magnifyingGlass_Small.png") no-repeat 4px 6px;
	-webkit-border-radius: 0;
	border-radius: 0;
}

#search-button {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 34px;
	line-height: 17px;
	margin: 0;
	padding: 1px 6px;
	font-size: 2.2em;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #F58C5B;
	border: solid 1px #888;
	border-right: 0px;
	background: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
	background: -moz-linear-gradient(top, #ccc, #aaa);
	-webkit-border-radius: 0;
	border-radius: 0;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

#search-button:hover {
	text-decoration: none;
	background: #A8A8A8;
	background: -webkit-gradient(linear, left top, left bottom, from(#A8A8A8), to(#909090));
	background: -moz-linear-gradient(top, #A8A8A8, #909090 );
}

@media only screen and (max-width: 925px) {

	#searchbox-container {
		position: absolute;
		top: 57px;
		right: 50%;
		width: 207px;
		margin-right: -157px;
	}	
	
	#searchbox {
		font-size: 1.3em;
		padding-right: 5px;
		height: 20px;
		line-height: 20px;
		width: 147px;
		background-position: 4px 1px;
	}
	
	#search-button  {
		height: 24px;
		width: 24px;
		line-height: 11px;
	}	
}

@media only screen and (max-width: 430px) {
	
	#searchbox-container {
		top: 50px;
		margin-right: -100px;
	}
	
}

/*************************** SEARCH RESULTS ***************************/

#search-results-container {
	position: absolute;
	top: 60px;
	right: 5px;
	height: 60%;
	width: 350px;
	display: none;
	border: 1px solid #888;
	background: white;
	z-index: 20;
}

#search-results {
	position: absolute;
	top: 25px;
	bottom: 0;
	overflow: auto;
	width: inherit;
	font-family: "times new roman";
	font-size: 1.6em;
}

.searchresult {
	margin: 5px;
	border: 1px solid #eee;
	padding: 5px;
	cursor: pointer;
}

.searchresult:hover {
	background: #F8F8F8;
}

#search-close {
	position: absolute;
	right: 3px;
	top: 3px;
	padding-right: 25px;
	padding-top: 5px;
	background: url("../images/closeBtnUp_Small.png") no-repeat top right;
	text-align: right;
	font-size: 1.6em;
	color: #4292CD;
	cursor: pointer;
}

#moreresults {
	text-align: center;
	font-weight: bold;
}

@media only screen and (max-width: 925px) {

	#search-results-container {
		top: 90px;
	}

}

/*************************** ABOUT LINK ***************************/

#about-button {
	position: absolute;
	top: 74px;
	left: 51px;
	width: 80px;
	background-color: rgb(150,150,150) transparent;
	background-color: rgba(150,150,150,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90969696,endColorstr=#90969696);
	text-decoration: none;
	font-weight: 700;
	color: #000;
	font-size: 1.6em;
	text-align: center;
	line-height: 35px;
}

#about-button #about-question {
	display: none;
}

#about-button:active, #about-button:hover {
	color: #fff;
	border-color: #fff;
	cursor: pointer;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#90000000);
	background-color: rgba(0,0,0,0.8);
}

@media only screen and (max-width: 925px) {

	#about-button {
		top: 95px;
		width: 66px;
		margin: 10px 15px 10px 0;
		font-size: 1.4em;
		line-height: 30px;
	}
}

@media only screen and (max-width: 430px) {

	#about-button {
		left: 37px;
		height: 30px;
		width: 30px;
		margin: 0;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
	}
	
	#about-button #about-label {
		display: none;
	}
	
	#about-button #about-question {
		display: inline;
	}
}

/*************************** ABOUT PAGE ***************************/

#mask {
	position: fixed;
	display: block;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	filter: alpha(opacity=65);
	-moz-opacity: 0.65;
	opacity: 0.65;
	z-index: 20
}

#about-container {
	position: absolute;
	height: 100%;
	width: 100%;
}

#about {
	position: absolute;
	display: block;
	left: 7%;
	right: 7%;
	top: 7%;
	bottom: 7%;
	background-color: #fff;
	z-index: 30;
	border-radius: 3px;
}

#about-inner {
	position: absolute;
	overflow-y: auto;
	left: 2%;
	top: 2%;
	right: 2%;
	bottom: 2%;
	padding: 0px 15px;
}

#about-inner > p {
	line-height: 1.4em;
	font-size: 1.6em;
}

#about-figures {
	float: left;
	clear: both;
	margin: 6px;
	margin-left: 0;
	font-size: 1.6em;
	font-weight: bold;
}

#logos_attrb {
	width: 100%;
	display: block;
	text-align: center;
}

#logos_attrb a {
	text-decoration: none;
}

#abt_ecos_logo, #abt_wwu_logo, #abt_hux_logo{
	margin-right: 10%;
	line-height: 60px;
}

#about-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 35;
	background-image: url('../images/fancybox_sprite.png');
}

@media only screen and (max-width: 925px) {

	#about {
		left: 5%;
		right: 5%;
		top: 5%;
		bottom: 5%;
	}
	
}

@media only screen and (max-width: 430px) {

	#about {
		left: 3%;
		right: 3%;
		top: 3%;
		bottom: 3%;
	}
	
}


/*************************** MAP CONTROLS ***************************/

.leaflet-control-zoom {
	top: 61px;
	border: 1px solid #888;
	-o-transition: .7s;
	-ms-transition: .7s;
	-moz-transition: .7s;
	-webkit-transition: .7s;
	transition: .7s;
}

.leaflet-touch .leaflet-control-zoom {
	border: 2px solid rgba(0,0,0,0.3);
}

.leaflet-touch .leaflet-control-zoom a {
	width: 22px;
	height: 22px;
	font-size: 1.8em;
	line-height: 22px;
	font-weight: normal;
}

/*.leaflet-touch {
	-webkit-border-radius: none;
	border-radius: none;
}*/

.leaflet-touch .leaflet-bar-part {
	border-bottom-width: 2px;
}




@media only screen and (max-width: 925px) {

	/* MAP Controls */
	.leaflet-control-zoom {
		top: 88px;
	}
	
}

@media only screen and (max-width: 430px) {

	.leaflet-control-zoom {
		top: 95px;
		left: 10px;
		margin: 0 !important;
	}
	
}

/*************************** BASEMAP CONTROLS ***************************/

#basemap-icon {
	display: none;
}

#basemap-menu {
	position: absolute;
	display: block;
	right: 10px;
	top: 60px;
	z-index: 10;
}

.base-thumb {
	text-align: center;
	margin-top: 10px;
	display: block;
	cursor: pointer;
	line-height: 50px;
	width: 85px;
	font-size: 2em;
	font-weight: bold;
	color: #000;
	background: url("../images/basemap_thumbs/base_sprite.jpg") no-repeat;
	width: 85px;
	height: 50px;
}

.base-thumb:hover {
	font-size: 1.6em;
}

#satellite-thumb {
	background-position: 0 -100px;
}

#satellite-thumb:hover{
	color: #fff;	
}

#streets-thumb {
	background-position: 0 0;
}

#toner-thumb {
	background-position: 0 -50px;
}

@media only screen and (max-width: 925px) {

	.base-thumb {
		width: 65px;
		margin-top: 5px;
		font-size: 1.6em;
	}
	
	#basemap-menu {
		top: 88px;
		margin: 0;
	}

}

@media only screen and (max-width: 430px) {

	#basemap-icon {
		position: absolute;
		display: block;
		right: 10px;
		top: 95px;
		width: 40px;
		height: 26px;
		background-image: url("../images/basemap-icon.png");
		background-position: 0px 0px;
		cursor: pointer;
	}

	#basemap-menu {
		display: none;
		right: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: #fff;
	}
	
	.base-thumb {
		margin: 20px auto;
		line-height: 50px;
		width: 85px;
		font-size: 2em;
	}

	
}

/*************************** BASEMAP ATTRIBUTION ***************************/

.autoattribution {
	float: right;
	pointer-events: auto;
	padding: 0 9px;
	box-shadow: 0 0 5px #bbb;
	color: rgb(0,0,0);
	cursor: pointer;
	background-color: #fff;
	background-color: rgba(255,255,255,0.7);
}

.autoattribution > p {
	margin: 5px;
}

.hidetoggle {
	background-color: rgb(55,55,55); /* Fallback for unsupported browsers*/
	background-color: rgba(55,55,55,0.7);
	color: rgb(255,255,255);
}

/*
@media only screen and (max-width: 430px) {

	.autoattribution {
		width: 50px;
		text-align: center;
		padding: 0 3px 0 0;
	}
	.autoattribution > p {
		margin: 2px;
		padding: 0;
	}
}*/

/*************************** FACILITY MOUSE OVER ***************************/

#hover {
	display: none;
	position: absolute;
	border: solid #000 1px;
	padding: 5px;
	background-color: rgb(255,255,255); /* Fallback for unsupported browsers*/
	background-color: rgba(255,255,255,0.9);
	width: 150px;
	max-height: 400px;
	font-size: 1.5em;
}

/*************************** HIGHLIGHT FACILITY ***************************/

.clickedFacility {
	width: 16px !important;
	height: 16px !important;
	border: rgb(0, 224, 255) solid 3px;
	margin-left: -12px !important;
	margin-top: -12px !important;
	cursor: auto;
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: pulsate 1s ease-out;
	-moz-animation-iteration-count: infinite;
	-o-animation: pulsate 1s ease-out;
	-o-animation-iteration-count: infinite;
	-ms-animation: pulsate 1s ease-out;
	-ms-animation-iteration-count: infinite;
	animation: pulsate 1s ease-out;
	animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
	0% {opacity:0;}
	50% {opacity: 1;}
	100% {opacity:0;}
}

@-moz-keyframes pulsate {
	0% {opacity:0;}
	50% {opacity: 1;}
	100% {opacity:0;}
}

@-o-keyframes pulsate {
	0% {opacity:0;}
	50% {opacity: 1;}
	100% {opacity:0;}
}

@-ms-keyframes pulsate {
	0% {opacity:0;}
	50% {opacity: 1;}
	100% {opacity:0;}
}

@keyframes pulsate {
	0% {opacity:0;}
	50% {opacity: 1;}
	100% {opacity:0;}
}

/*************************** FACILITY POPUP ***************************/

#popup-close {
	position: absolute;
	height: 20px;
	width: 20px;
	top: 4px;
	right: 4px;
	margin: 5px;
	padding: 0;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	border: 1px rgb(109, 109, 109) solid;
	background-color: rgb(109, 109, 109);
	color: #fff;
	font-size: 14px;
	behavior: url("assets/ie/PIE.htc");
}

#popup-close:hover, #popup-close:active, .zoom-to:hover, .zoom-to:active {
	background-color: rgb(210, 210, 210);
	color: #000;
}

#facility-tabs {
	position: absolute;
	background-color: #fff;
	top: 62px;
	left: 50px;
	width: 325px;
	height: 400px;
	font-size: 1.3em;
	z-index: 10;
}

.zoom-to {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
	padding: 5px 0;
	cursor: pointer;
}

@media only screen and (max-width: 925px) {

	#facility-tabs {
		top: 90px;
	}

}

@media only screen and (max-width: 430px) {

	#facility-tabs {
		top: 0px;
		left: 0px;
	}
}

/*************************** GENERAL TAB ***************************/

.tabs {
	position: absolute;
	height: 15px;
	font-size: .8em;
	padding-left: 5px;
	border: 1px solid #888;
	border-bottom: none;
	background: #fff;
	cursor: pointer;
}

#info-graph {
	width: 300px;
	height: 150px;
	margin: 7px auto;
}

.noChart {
	width: 100%;
	text-align: center;
	height: 100%;
	line-height: 140px;
	font-size: 20px;
	margin: 0 auto;
}

/*************************** CHEMICAL & INDUSTRY TAB ***************************/

#chemical-tab, #industry-tab {
	padding: 0;
}

.popup-year-toggle {
	position: relative;
	height: 30px;
	width: 327px;
	padding: 0;
	text-align: center;
	color: #fff;
	background-color: rgb(26, 26, 26);
}

.popup-year-label {
	width: 50%;
	margin: 0 auto;
	font-size: 1.8em;
	font-weight: bold;
}

.popup-year-right {
	position: absolute;
	right: 114px;
	top: 4px;
	width: 0;
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-left: 11px solid #fff;
	cursor: pointer;
}

.popup-year-left {
	position: absolute;
	left: 114px;
	top: 4px;
	width: 0;
	height: 0;
	border-top: 11px solid transparent;
	border-bottom: 11px solid transparent;
	border-right: 11px solid #fff;
	cursor: pointer;
}

.popup-list {
	height: 324px;
	overflow-y: auto;
}

.chemical_row, .industry_row {
	line-height: 1.4em;
	margin: 0.5em 0.2em;
	padding: 0.3em;
	border: 1px solid #eee;
}

/*************************** CHEMICAL TAB ***************************/

.chemical_row:hover {
	background-color: #F8F8F8;
	cursor: pointer;
}

.chemical_details:hover {
	background-color: #F8F8F8;
	cursor: auto;
}

/*************************** WWU LOGO ***************************/

#wwu_logo {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: url('../images/logos/wwu_sm.png');
	width: 72px;
	height: 36px;
}

@media only screen and (max-width: 430px) {

	#wwu_logo {
		display: none;
	}
}

/*************************** SOCIAL MEDIA ***************************/

.socialmedia {
	position: absolute;
	display: block;
	left: 50%;
	bottom: 0;
	height: 32px;
	width: 32px;
}

.socialmedia > img {
	cursor: pointer;
}

.facebook {
	margin-left: 36px;
}

.twitter {
	margin-left: -36px;
}

.googleplus {
	margin-left: 0px;
}

/*************************** LOADING PAGE ICON ***************************/

#loading {
	display: block;
	position: absolute;
	top: 40%;
	bottom: 40%;
	width: 100%;
}

#loading > div {
	margin: 0 auto;
	width: 160px;
}

#loadingText {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
	text-shadow: #000 0.1em 0.1em 0.2em;
}

.loading {
	float: left;
	height: 92px;
	width: 25px;
	margin-left: 7px;
	background-color: #F27D24;
	border: 3px solid #000000;
	opacity: 0.1;
	-moz-animation-name: bounceG;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: linear;
	-moz-transform: scale(0.7);
	-webkit-animation-name: bounceG;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: linear;
	-webkit-transform: scale(0.7);
	-ms-animation-name: bounceG;
	-ms-animation-duration: 1.5s;
	-ms-animation-iteration-count: infinite;
	-ms-animation-direction: linear;
	-ms-transform: scale(0.7);
	-o-animation-name: bounceG;
	-o-animation-duration: 1.5s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: linear;
	-o-transform: scale(0.7);
	animation-name: bounceG;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: linear;
	transform: scale(0.7);
}

#blockG_1 {
	-moz-animation-delay: 0.45s;
	-webkit-animation-delay: 0.45s;
	-ms-animation-delay: 0.45s;
	-o-animation-delay: 0.45s;
	animation-delay: 0.45s;
}

#blockG_2 {
	-moz-animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

#blockG_3 {
	-moz-animation-delay: 0.75s;
	-webkit-animation-delay: 0.75s;
	-ms-animation-delay: 0.75s;
	-o-animation-delay: 0.75s;
	animation-delay: 0.75s;
}

#blockG_4 {
	-moz-animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
	-ms-animation-delay: 0.9s;
	-o-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

@-moz-keyframes bounceG{
	0% {
		-moz-transform:scale(1.2);
		opacity:1;
	}
	100% {
		-moz-transform:scale(0.7);
		opacity:0.1;
	}
}

@-webkit-keyframes bounceG {
	0% {
		-webkit-transform:scale(1.2);
		opacity:1;
	}
	100% {
		-webkit-transform:scale(0.7);
		opacity:0.1;
	}
}

@-ms-keyframes bounceG{
	0% {
		-ms-transform:scale(1.2);
		opacity:1;
	}
	100% {
		-ms-transform:scale(0.7);
		opacity:0.1;
	}
}

@-o-keyframes bounceG{
	0% {
		-o-transform:scale(1.2);
		opacity:1;
	}
	100% {
		-o-transform:scale(0.7);
		opacity:0.1;
	}
}

@keyframes bounceG{
	0% {
		transform:scale(1.2);
		opacity:1;
	}
	100% {
		transform:scale(0.7);
		opacity:0.1
	}
}